
.portfolio{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	height:25vh;
}
.projekt:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.projekt{
	min-height:100%;
	width:100%;
	text-align:center;
}
.projekt a {
	text-decoration:none;
	display:block;
	line-height:500%;
	font-size:50px;
	
}
.cover{
	width:100%;
	background-color:rgba(201, 76, 76, 0.3);
}

.cover:nth-child(1) .projekt{
	background-image:url("../base-apparel-coming-soon-master/stamp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.cover:nth-child(2) .projekt{
	background-image:url("../base-apparel-coming-soon-master/stamp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.cover:nth-child(3) .projekt{
	background-image:url("../base-apparel-coming-soon-master/stamp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.cover:nth-child(4) .projekt{
	background-image:url("../base-apparel-coming-soon-master/stamp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
