.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.cover {
	position: relative;
	background-color:khaki;
}

img{
	opacity: 1;
	transition: .5s ease;
	border: 5px solid white !important;
}

.cover:hover img {
	opacity: 0.7;
}

